<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pirates of the Ucjcean - Juegos</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="/assets/pirata.png">
    </head>
    <body>
        <div class="grid">

            <header>
                <h1>Pirates of the Ucjcean</h1>
                <nav>
                    <ul>
                        <li><a href="/"><button class="nav-button">Inicio</button></a></li>
                        <li><a href="/games"><button class="nav-button">Juegos</button></a></li>
                        <li><a href="/contact"><button class="nav-button">Contacto</button></a></li>
                    </ul>
                </nav>
            </header>
    
            <div class="characterDiv">
                <div class="character">
                    <a href="/flapy_owl"><img src="/assets/parrot.png" alt="buho Image"></a>
                </div>
    
                <div class="character">
                    <a href="/game2"><img src="/assets/pirata.png" alt="lobo Image"></a>
                </div>
    
                
            </div>
    
            <footer>
                <p>&copy; Pirates of the Ucjcean 2024</p>
            </footer>

        </div>

    </body>
</html>