<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pirates of the Ucjcean - Inicio</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">

        <style>
            body {
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-rows: auto auto 1fr;
                min-height: 100vh;
                font-family: 'Press Start 2P', cursive;
                background-color: #87CEEB; /* Azul de fondo para el cielo pirata */
                color: black;
                align-items: center;
            }

            header {
                padding: 20px;
                text-align: center;
            }

            h1 {
                font-size: 3em;
                color: #ffd700; /* Color dorado pirata */
                text-shadow: 2px 2px #000;
                margin: 0;
                text-align: center;
            }
            h2{
                color: white; 
                font-size: 2.5em;
                text-align: center;
            }

            nav {
                margin: 20px 0;
                text-align: center;

            }

            nav a {
                margin: 15px 0;
                padding: 10px 20px;
                background-color: #8b4513; /* Marr칩n tipo madera */
                color: #fff;
                border: none;
                text-decoration: none;
                font-size: 1.2em;
                text-transform: uppercase;
                box-shadow: 3px 3px #000;
                border-radius: 5px;
            }

            nav a:hover {
                background-color: #d2691e; /* Marr칩n m치s claro */
                color: #ffd700; /* Texto dorado */
            }

            ul > li{
                margin-bottom: 30px;
            }

            form{
                text-align: center;
                margin-bottom: 5rem;
            }

            .create-title{
                font-size: 2em;
                color: #ffd700; /* Color dorado pirata */
                text-shadow: 2px 2px #000;
                margin: 0;
                text-align: center;
                margin-top: 5rem;
            }

            #characterSpecificFields > input, select, select > option {
                border-radius: 6px;
                font-family: 'Press Start 2P', cursive;
                padding: 6px;
                border: none;
            }
            #characterSpecificFields > input{
                margin-top: 20px;
                border: none;
                
            }
            input[type="number"]:focus {
                border: none;
                border-color: #2e2b27; 
                background-color: #f0f8ff;
            }

            .button-create{
                margin-top: 20px;
                margin: 15px 0;
                padding: 10px 20px;
                background-color: white;
                color: #000000;
                border: none;
                text-decoration: none;
                text-transform: uppercase;
                box-shadow: 3px 3px #000;
                border-radius: 5px;
            }

            .button-create:hover {
                background-color: #d2691e;
                color: #ffd700;
            }

            footer {
                text-align: center;
                padding: 20px;
                background-color: #2e2b27;
                color: #fff;
                width: 100%;
            }
         
        </style>
    </head>
    <body>
        <header>
            <h1>Pirates of the Ucjcean</h1>
            <nav>
                <ul>
                    <li><a href="/game2"><button class="nav-button">Inicio</button></a></li>
                    <li><a href="/game2/select"><button class="nav-button">Cambiar personaje</button></a></li>
                    <li><a href="/characters"><button class="nav-button">Gesti칩n de Personajes</button></a></li>
                </ul>
            </nav>
        </header>
        
        <h1 class="create-title">Crear Personaje</h1>

        <form action="/characters" method="post">

            <label for="characterType">Tipo de Personaje:</label>

            <select id="characterType" name="characterType" onchange="changeFormFields()" required>
                <option value="">Selecciona un personaje</option>
                <option value="pirate">Pirata</option>
                <option value="parrot">Loro</option>
                <option value="monkey">Mono</option>
            </select>
            
            <br>
        
            <div id="characterSpecificFields">
                
            </div>
        
            <button type="submit" class="button-create">Crear</button>
        </form>

        <footer>
            <p>&copy; Pirates of the Ucjcean 2024</p>
        </footer>
        
        <script>
        function changeFormFields() {
            const characterType = document.getElementById('characterType').value;
            const characterSpecificFields = document.getElementById('characterSpecificFields');
            
            characterSpecificFields.innerHTML = ''; // Clear any previous fields
        
            if (characterType === 'pirate') {
                console.log(characterType);
                characterSpecificFields.innerHTML = `

                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name"  required><br>
                    
                    <label for="energyLevel">Nivel de Salud:</label>
                    <input type="number" id="energyLevel" name="energyLevel" required><br>
                    
                    <label for="lifeExpectancy">Esperanza de Vida:</label>
                    <input type="number" id="lifeExpectancy" name="lifeExpectancy" value ="100" readonly><br>

                    <label for="foodLevel">Nivel de comida:</label>
                    <input type="number" id="foodLevel" name="foodLevel" required><br>
        
                    <label for="drinkLevel">Nivel de bebida:</label>
                    <input type="number" id="drinkLevel" name="drinkLevel" required><br>
        
                    <label for="restLevel">Nivel de descanso:</label>
                    <input type="number" id="restLevel" name="restLevel" required><br>

                    <label for="healthLevel">Nivel de salud:</label>
                    <input type="number" id="healthLevel" name="healthLevel" required><br>

                    <input type="text" id="type" name="type" value="pirate" hidden><br>
                `;
            } else if (characterType === 'parrot') {
                console.log(characterType);
                characterSpecificFields.innerHTML = `
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" required><br>
                    
                    <label for="energyLevel">Nivel de Salud:</label>
                    <input type="number" id="energyLevel" name="energyLevel" required><br>
                    
                    <label for="lifeExpectancy">Esperanza de Vida:</label>
                    <input type="number" id="lifeExpectancy" name="lifeExpectancy" value ="70" readonly><br>

                    <label for="foodLevel">Nivel de comida:</label>
                    <input type="number" id="foodLevel" name="foodLevel" required><br>
        
                    <label for="drinkLevel">Nivel de bebida:</label>
                    <input type="number" id="drinkLevel" name="drinkLevel" required><br>

                    <label for="restLevel">Nivel de descanso:</label>
                    <input type="number" id="restLevel" name="restLevel" required><br>
        
                    <label for="flyLevel">Vuelo:</label>
                    <input type="number" id="flyLevel" name="flyLevel" required><br>

                    <label for="healthLevel">Nivel de salud:</label>
                    <input type="number" id="healthLevel" name="healthLevel" required><br>

                    <input type="text" id="type" name="type" value="parrot" hidden>
                `;
            } else if (characterType === 'monkey') {
                characterSpecificFields.innerHTML = `
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" required><br>
                    
                    <label for="energyLevel">Nivel de Salud:</label>
                    <input type="number" id="energyLevel" name="energyLevel" required><br>
                    
                    <label for="lifeExpectancy">Esperanza de Vida:</label>
                    <input type="number" id="lifeExpectancy" name="lifeExpectancy" value ="70" readonly><br>

                    <label for="foodLevel">Nivel de comida:</label>
                    <input type="number" id="foodLevel" name="foodLevel" required><br>
        
                    <label for="drinkLevel">Nivel de bebida:</label>
                    <input type="number" id="drinkLevel" name="drinkLevel" required><br>

                    <label for="restLevel">Nivel de descanso:</label>
                    <input type="number" id="restLevel" name="restLevel" required><br>
        
                    <label for="jumpLevel">Salto:</label>
                    <input type="number" id="jumpLevel" name="jumpLevel" required><br>

                    <label for="healthLevel">Nivel de salud:</label>
                    <input type="number" id="healthLevel" name="healthLevel" required><br>

                    <input type="text" id="type" name="type" value="monkey" hidden>
                `;
            }
        }
        </script>
        

    </body>
</html>