<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pirates of the Ucjcean - Inicio</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">

        <style>
           body {
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-rows: auto 1fr auto 1fr;
                min-height: 100vh;
                font-family: 'Press Start 2P', cursive;
                background-color: #87CEEB; /* Azul de fondo para el cielo pirata */
                color: black;
                align-items: center;
            }

            header {
                padding: 20px;
                text-align: center;
            }

            h1 {
                font-size: 3em;
                color: #ffd700; /* Color dorado pirata */
                text-shadow: 2px 2px #000;
                margin: 0;
                text-align: center;
            }
            h2{
                color: white; 
                font-size: 2.5em;
                text-align: center;
            }

            nav {
                margin: 20px 0;
                text-align: center;

            }

            ul{
                margin-bottom: 5rem;
                text-align: center;
            }

            ul > li{
                margin-bottom: 30px;
            }

            nav a {
                margin: 15px 0;
                padding: 10px 20px;
                background-color: #8b4513; /* Marr칩n tipo madera */
                color: #fff;
                border: none;
                text-decoration: none;
                font-size: 1.2em;
                text-transform: uppercase;
                box-shadow: 3px 3px #000;
                border-radius: 5px;
            }

            nav a:hover {
                background-color: #d2691e; /* Marr칩n m치s claro */
                color: #ffd700; /* Texto dorado */
            }

            .create-title{
                font-size: 2em;
                color: #ffd700; /* Color dorado pirata */
                text-shadow: 2px 2px #000;
                margin: 0;
                text-align: center;
                margin-top: 5rem;
            }

        

            footer {
                text-align: center;
                padding: 20px;
                background-color: #2e2b27;
                color: #fff;
                width: 100%;
            }
            form{
                width: 200px;
                text-align: center;
            }

            .create-title{
                font-size: 2em;
                color: #ffd700; /* Color dorado pirata */
                text-shadow: 2px 2px #000;
                margin: 0;
                text-align: center;
            }

            .edit{
                margin: 15px 0;
                padding: 10px 20px;
                background-color: white;
                color: #000000;
                border: none;
                text-decoration: none;
                text-transform: uppercase;
                box-shadow: 3px 3px #000;
                border-radius: 5px;
            }
        

            .edit:hover{
                background-color: #d2691e;
                color: #ffd700;
            }
            .create-new-character{
                display: flex;
                justify-content: center;
                margin-bottom: 4rem;
            }

            .create-new-character > a{
                margin: 15px 0;
                padding: 10px 20px;
                background-color: white;
                color: #000000;
                border: none;
                text-decoration: none;
                text-transform: uppercase;
                box-shadow: 3px 3px #000;
                border-radius: 5px;
            }
            .create-new-character>a:hover {
                background-color: #d2691e;
                color: #ffd700;
            }

         
        </style>
    </head>
    <body>
        <header>
            <h1>Pirates of the Ucjcean</h1>
            <nav>
                <ul>
                    <li><a href="/game2"><button class="nav-button">Inicio</button></a></li>
                    <li><a href="/game2/select"><button class="nav-button">Cambiar personaje</button></a></li>
                    <li><a href="/characters"><button class="nav-button">Gesti칩n de Personajes</button></a></li>
                </ul>
            </nav>
        </header>
        
        <h1 class="create-title">Personajes</h1>
        
        <ul>
            <% characters.forEach(character => { %>
                <li>
                    <%= character.name %> - <a href="/characters/<%= character.id %>/edit" class="edit">Editar</a> - 
                    <form action="/characters/<%= character.id %>/delete" method="post" style="display:inline;">
                        <button type="submit" >Eliminar</button>
                    </form>
                </li>
            <% }); %>
        </ul>

        <div class="create-new-character">
            <a href="/characters/new" >Crear nuevo personaje</a>
        </div>

        <footer>
            <p>&copy; Pirates of the Ucjcean 2024</p>
        </footer>

        
    </body>
</html>